@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&family=Poppins:wght@300&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	align-content: center;
	min-height: 100vh;
	overflow: hidden;
}
.content{
	width: 100%;
	height: 100vh;
	background: linear-gradient(to top, #008AFF, #00FF37);
	animation: animate 3s linear infinite;
}
@keyframes animate{
	0%, 100%{
		filter: hue-rotate(0deg);
	}
	50%{
		filter: hue-rotate(360deg);
	}
}
.message{
	background: transparent;
	position: absolute;
	width: 50%;
	height: 100vh;
	align-items: center;
}
.message .question h1{
	position: absolute;
	width: 100%;
	padding-top: 30%;
	color: black;
	background: transparent;
	font-size: 2.5em;
	letter-spacing: 0.3em;
	font-family: 'Montserrat Alternates', sans-serif;
}
.answers p{
	display: initial;
	width: 50px;
	height: 35px;
	border-radius: 5px;
	background: black;
	text-align: center;
	color: white;
	font-size: 1.5em;
	text-transform: uppercase;
	font-family: 'Poppins', sans-serif;
}
.answers .yes{
	position: absolute;
	top: 35%;
	left: 20%;
	cursor: pointer;
}
.answers .no{
	position: absolute;
	top: 35%;
	left: 60%;
	cursor: pointer;
}
#ansyes{
	display: none;
	position: absolute;
	align-items: center;
	padding: 10px 10px;
	background: black;
	color: white;
	letter-spacing: 0.3em;
	text-transform: uppercase;
	font-family: 'Poppins', sans-serif;
}
#ansyes i{
	position: absolute;
	color: white;
	width: 30px;
	height: 30px;
	top: 10px;
	right: 10px;
	cursor: pointer;
}
.credits{
	position: absolute;
	top: 85%;
	background: transparent;
	padding: 10px;
	width: 100%;
	font-size: 1em;
	font-family: 'Poppins', sans-serif;
	letter-spacing: 0.3em;
}
.credits p{
	color: black;
}
.credits a{
	color: #2F2F2F;
	text-decoration: none;
	text-transform: uppercase;
}